/* Write your CSS here */
.team-matches-bg-container {
  background-size: cover;
  min-width: 400px;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rcb-background {
  background-image: linear-gradient(to bottom, #1e293b, #a4261d);
}

.kkr-background {
  background-image: linear-gradient(to bottom, #f7db00, #13418b);
}

.kxp-background {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d);
}

.csk-background {
  background-image: linear-gradient(to bottom, #f26d22, #5755a7);
}

.rr-background {
  background-image: linear-gradient(to bottom, #4f5db0, #5755a7, #13418b);
}

.mi-background {
  background-image: linear-gradient(to bottom, #f26d22, #13418b, #ffffff33);
}

.sh-background {
  background-image: linear-gradient(to bottom, #d91c1f, #f26d22, #ffffff33);
}

.dc-background {
  background-image: linear-gradient(
    to bottom,
    #4f5db0,
    #13418b,
    #a4261d,
    #ffffff33
  );
}

.team-matches-top-image {
  width: 100%;
  border-radius: 0.4rem;
  margin: 2rem 0.5rem 1rem 0.5rem;
}

.team-latest-matches-header {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: 'Bree Serif';
  margin-bottom: 0.75rem;
  margin-left: 0;
  align-self: flex-start;
}

.team-match-card-collection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .team-matches-bg-container {
    padding: 2rem;
  }

  .team-latest-matches-header {
    font-size: 1.5rem;
  }
}